@charset "utf-8";

// Font
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

$family-sans-serif: "Lato", sans-serif;
$primary: #3a008b;

html {
  background-image: url("/img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.flex {
    display: flex;
}

// Some Bulma components
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/helpers/flexbox.sass";
@import "../../node_modules/bulma/sass/helpers/spacing.sass";
@import "../../node_modules/bulma/sass/helpers/typography.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
